@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  overflow-x:hidden
}
/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra vertical */
}

/* Estilo del riel (track) donde se desplaza la barra */
::-webkit-scrollbar-track {
  background: transparent; /* Color del fondo */
  border-radius: 10px;  /* Bordes redondeados */
}

/* Estilo del "pulgar" de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: white; /* Color del pulgar */
  border-radius: 10px; /* Bordes redondeados */
}


body {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url("/1.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "rubik";
}