@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/rk.jpg") no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Aquí puedes cambiar el color y la opacidad */
  pointer-events: none; /* Esto asegura que los clics pasen por debajo del filtro */
}